<div class="container">
    <button type="button" class="btn btn-primary" (click)="startNewGame()">Start new game</button>
    <h2>Who said it?</h2>
    <ng-container *ngIf="this.gameService.currentQuote && this.gameService.selectedRandomAuthors">
        <p>
            {{this.gameService.currentQuote.text}}
        </p>
        <div>
            <div *ngFor="let author of this.gameService.selectedRandomAuthors" (click)="selectAnswer(author)" class="choice">{{author.name}}<br></div>
        </div>
    </ng-container>
    
    <!-- TODO extract common phrases -->
    <ng-container *ngIf="gameCompleted">
        <div *ngIf="gameOutcome;else loose" id="win">Correct! The right answer is: {{this.gameService.currentQuote?.author?.name}}</div>
        <ng-template #loose>
            <div id="loose">
                Sorry, you are wrong! The right answer is: {{this.gameService.currentQuote?.author?.name}}
            </div>
        </ng-template>
    </ng-container>
</div>