<div class="container mt-5">
    <table class="table">
        <thead>
            <th>Text</th>
            <th>Author</th>
        </thead>
        <tbody>
            <tr *ngFor="let quote of quotes">
                <td>{{quote.text}}</td>
                <td>{{quote.author!.name}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteQuote(quote.quoteId);$event.stopPropagation()">
                        Delete
                    </button>
                </td>

                <!-- TODO here could be an option for editing the quote to complete CRUD -->
            </tr>
        </tbody>
    </table>
</div>
